---
import CardFeatures from "./partials/card-features.astro";
---

<section class="mx-auto max-w-7xl py-20 px-4 md:px-6">
  <div class="flex flex-col items-center justify-center gap-4">
    <h2 class="text-3xl font-bold text-gray-100">
      Apa yang didapatkan selama bergabung bersama Minang IT Camp
    </h2>
    <p class="text-gray-400">
      Teman-teman bakalan mendapatkan benefit yang banyak ketika bergabung
      bersama komunitas Minang IT Camp
    </p>
  </div>

  <div class="grid grid-cols-3 gap-4 my-10">
    <div class="col-span-1">
      <CardFeatures
        title="Free Wi-Fi"
        description="Free wifi untuk peserta pelatihan maupun teman2 yang ingin menjadikan tempat sebagai co-working space"
      />
    </div>

    <div class="col-span-1">
      <CardFeatures
        title="Bimbingan Mentor"
        description="Free konsultasi IT, boleh bertanya-tanya seputar dunia IT, teknis programming maupun karir di dunia IT"
      />
    </div>

    <div class="col-span-1">
      <CardFeatures
        title="Workshop"
        description="Free workshop untuk peserta pelatihan maupun teman2 yang ingin menjadikan tempat sebagai co-working space"
      />
    </div>
  </div>
</section>
