---
import "../styles/global.css";
import Layout from "../layouts/main.astro";
import { Button } from "~/components/ui/button";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section class="relative">
    <div class="min-h-screen">
      <div
        class="absolute inset-0 z-0"
        style="background-image: url(/static/images/pagaruyuang.png); place-items: center; background-repeat: no-repeat; background-size: cover; background-position: center;"
      >
        <div
          class="absolute inset-0 opacity-[.5]"
          style="background-color: hsla(213, 18%, 20%, 0.5)"
        >
        </div>
      </div>
      <div class="relative z-10 h-screen flex items-center justify-center">
        <div class="flex flex-col items-center justify-center max-w-4xl px-4 md:px-6">
          <div class="text-center space-y-4">
            <h1
              class="text-5xl font-bold text-white"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              IT untuk Ranah
              <span class="text-red-500">Minang</span>
            </h1>
            <p
              class="text-gray-100 text-lg md:text-xl"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              Memberdayakan Pemuda-Pemudi Minang untuk memajukan Nagari.
              Kembangkan Skillmu di dunia IT dan raih kesempatan kerja di
              Perusahaan yang kamu impikan.
            </p>

            <Button
              className="bg-gray-100 text-red-500 rounded-xl normal-case text-md hover:bg-gray-300 hover:text-red-500 transition-colors duration-300"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              Pendaftaran Pelatihan
            </Button>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
