---

---

<nav class="bg-gray-900 fixed w-full z-50">
  <div class="mx-auto max-w-7xl h-[4rem] px-4 md:px-6">
    <div class="flex h-full items-center justify-between">
      <div class="flex items-center">
        <h2
          class="text-white font-bold text-xl md:text-2xl hover:text-red-500 transition-colors"
        >
          Minang IT Camp
        </h2>
      </div>

      <div class="flex items-center gap-4 md:gap-6">
        <a
          href="/"
          class="text-white text-md md:text-lg hover:text-red-500 transition-colors"
          >Home</a
        >
        <a
          href="/about"
          class="text-white text-md md:text-lg hover:text-red-500 transition-colors"
          >Training</a
        >
        <a
          href="/contact"
          class="text-white text-md md:text-lg hover:text-red-500 transition-colors"
          >Event</a
        >
        <a
          href="/contact"
          class="text-white text-md md:text-lg hover:text-red-500 transition-colors"
          >Blog</a
        >
      </div>
    </div>
  </div>
</nav>
